@model IEnumerable<MyPlan.Models.Number>

@{
    ViewBag.Title = "Номера телефонов";
}

<h2>Номера телефонов</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NumberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NumberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NumberID })
        </td>
    </tr>
}

</table>
